.thumb {
  /* width: 80vw;
  height: 80vh;
  text-align: center; */
}

.img {
  display: block;
  /* width: 500px;
  height: 500px; */
  /* width: 100%; */
  max-width: 100%;
  height: auto;
  object-fit: fill;
}
