.thumb {
  display: flex;
  flex-direction: column;
  width: 85vw;
  padding: 0.8rem;
  text-align: center;

  @media screen and (min-width:1280px){
    width: 60vw;
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}
